//
   Created by luoguangwei on 16/3/19.

extends ../layout/index_layout

block content
   div(id='page-header',data-wow-delay='0.2s').wow.bounceInUp
      h1 #{params.owner.name}的主页
      p
         -if(params.owner.personUrl)
            a(href='http://localhost:3000/'+params.owner.personUrl)  http://localhost:3000/#{params.owner.personUrl}
   div(id='person-pane',owner-id=params.owner._id,data-wow-delay='0.4s').wow.bounceInLeft
      img(id='person-img',alt='头像',src=params.image)
      ul(id='person-info')
         li
            p.glyphicon.glyphicon-user
               span.title 姓名:&nbsp;
                    p #{params.owner.name}
         li
            p.glyphicon.glyphicon-user
                span.title 性别:&nbsp;#{params.owner.gender}
         li.li-line
         li
            p.glyphicon.glyphicon-user
                span.title 生日:&nbsp;#{params.owner.birthday}
         li
            p.glyphicon.glyphicon-heart
                span.title 婚姻:&nbsp;#{params.owner.marriage}
         li.li-line
         li
            p.glyphicon.glyphicon-briefcase
               span.title 工作:&nbsp;#{params.owner.experience.company}
         li
            p.glyphicon.glyphicon-envelope
               span.title 邮箱:&nbsp;#{params.owner.email}
         li.li-line
         li
            p.glyphicon.glyphicon-education
               span.title 大学:&nbsp;#{params.owner.experience.college}
         li
            p.glyphicon.glyphicon-education
               span.title 中学:&nbsp;#{params.owner.experience.middle}
         li.li-line
         li
            p.title 个人简介:&nbsp;
            p #{params.owner.personInfo}
   div(id='info-pane',data-wow-delay='0.4s').wow.bounceInRight
      div(id='info-nav').row
         ul.col-md-12.text-center
            li.col-md-4
               a(href='/users/'+params.owner._id+'/index') 首页
            li.col-md-4
               a(href='/users/'+params.owner._id+'/blog') 博文
            li.col-md-4
               a(href='/users/'+params.owner._id+'/picture') 相册
      h3.row 我的博文
      div(id='blog-pane').container-fluid
      h3.row 我的相片
      div(id='img-pane').container-fluid
         div
             img(id='img-show',src='/images/test-img1.jpg')
             btn(id='last-img').btn.btn-default 上一张
             btn(id='next-img').btn.btn-default 下一张
      br
      br



