//
   Created by luoguangwei on 16/3/19.

extends ../layout/index_layout

block content
   h1.text-info Chirs的博客
   p.text-info
      a.text-info http://chris.myblog.com
   div(id='person-pane',owner-id=params.owner._id)
      img(id='person-img',alt='头像',src=params.image)
      ul(id='person-info')
         li
            span.glyphicon.glyphicon-user
               span.title 姓名:&nbsp;
                    span.text-success #{params.owner.name}
         li
            span.glyphicon.glyphicon-user
                span.title 性别:&nbsp;#{params.owner.gender}
         li.li-line
         li
            span.glyphicon.glyphicon-user
                span.title 生日:&nbsp;#{params.owner.birthday}
         li
            span.glyphicon.glyphicon-heart
                span.title 婚姻:&nbsp;#{params.owner.marriage}
         li.li-line
         li
            span.glyphicon.glyphicon-briefcase
               span.title 工作:&nbsp;#{params.owner.experience.company}
         li
            span.glyphicon.glyphicon-envelope
               span.title 邮箱:&nbsp;#{params.owner.email}
         li.li-line
         li
            span.glyphicon.glyphicon-education
               span.title 大学:&nbsp;#{params.owner.experience.college}
         li
            span.glyphicon.glyphicon-education
               span.title 中学:&nbsp;#{params.owner.experience.middle}
         li.li-line
         li
            span.title 个人简介:&nbsp;
               span.text-warning #{params.owner.personInfo}
   div(id='info-pane')
      div(id='info-nav')
         div.li-line
         ul
            li
               a 首页
            li
               a(href='blog') 博文
            li
               a(href='picture') 相册
            li
               a 视频
            li
               a 关于我
         div.li-line
      h3 博文
      div(id='blog-pane').container-fluid
      h3 相片
      div(id='img-pane').container-fluid
         div.col-md-12
             img(id='img-show',src='/images/test-img1.jpg').col-md-12
             btn(id='last-img').btn.btn-default 上一张
             btn(id='next-img').btn.btn-default 下一张
      br
      br



